/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

/* STYLE GENERAL TAG */
li {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.violet-background {
    background-color: rgb(150, 146, 222);
}

section {
    /* debug */
    height: 300px;
}

/* HEADER STYLE */
header {
    background-color: rgb(57, 130, 245);
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

#header-logo {
    display: flex;
    align-items: center;
}

/* MAIN STYLE */

main {
    padding-top: 5rem;
}