/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

/* STYLE GENERAL TAG */
section {
    padding: 6% 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: rgb(57, 130, 245);
    font-size: 80px;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 40px;
}

.container {
    width: 90%;
    margin: auto;
}

.card {
    border-radius: 20px;
    margin-top: 5%;
}

.smallcard {
    padding: 6% 0;
    text-align: center;
}

.colum-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.violet-background {
    background-color: rgb(150, 146, 222);
    margin-top: 6%;
}

/* HEADER STYLE */
header {
    background-color: rgb(57, 130, 245);
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

#header-logo {
    display: flex;
    align-items: center;
}

/* MAIN STYLE */

main {
    padding-top: 3rem;
}

/* DEMO-APPLICATION MAIN STYLE */
#demo-application p {
    color: gray;

}

.application {
    background-color: rgb(189, 220, 252);
}

.card > div {
    width: 85%;
    margin: auto;
}

.application h5 {
    color: rgb(57, 130, 245);
    font-size: 20px;
    padding-top: 5%;
}

.card-text a {
    background-color: rgb(57, 130, 245);
    padding: 1% 10%;
    border-radius: 10px;
}

#application-img img {
    width: 100%;
}

#application-img {
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
}

/* STRATEGIC-PLAN MAIN STYLE */
#strategic-intro {
    color: white;
    padding: 8% 0;
}

#strategic-plan img {
    width: 100%;
}

#strategic-plan h4 {
    font-size: 40px;
    padding: 7.5% 0;
}

.strategic-card {
    background-color: white;
    border-radius: 20px;
}

.strategic-card img {
    width: 100%;
}

.strategic-card h5 {
    font-size: 23px;
}

.strategic-card i {
    font-size: 20px;
    color: black;
    background-color: rgb(150, 146, 222);
    padding: 4%;
    border-radius: 50%;
}
/* EXPERT-PARTNERS MAIN STYLE */

.partners-text {
    text-align: center;
}

.partners-text span {
    font-size: 20px;
}

.partners-text h3 {
    font-size: 40px;
    color: rgb(150, 146, 222);
}

.partners-card {
    color: white;
}

.partners-card .container {
    background-color: rgb(150, 146, 222);
    align-items: center;
}

.partners-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
}

.partners-card p {
    font-size: 22px;
}

.partners-card span {
    font-size: 25px;
    font-weight: 700;
}

/* WORK-WITH-US MAIN STYLE */

#work-with-us h3 {
    color: white;
    text-align: center;
}

.with-us {
    background-color: white;
}

.with-us .colum-flex {
    padding: 8% 0;    
}

.with-us p {
    color: gray;
}

.with-us h4, .with-us h5 {
    color: rgb(150, 146, 222)
}

.with-us h4 {
    font-size: 35px;
}

.with-us h5 {
    font-size: 25px;
}

.with-us a {
    background-color: rgb(150, 146, 222);
    padding: 1% 10%;
    border-radius: 20px;
}

/* ABOUT-US MAIN STYLE */
#about-us .container {
    padding: 6% 0;
}

.about-description h3 {
    color: rgb(150, 146, 222);
}

.about-description p {
    color: gray;
    padding: 5% 0;
}

.about-linkedin {
    padding-top: 5%;
}

.linkedin-img {
    position: relative;
    display: inline-block;
}

.linkedin-img img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
}

.linkedin-img i{
    position: absolute;
    top: 0;
    right: 35%;
    color: rgb(150, 146, 222);
    font-size: 60px;
}


.about-linkedin h4 {
    color: rgb(150, 146, 222);
    font-size: 25px; 
}

.linkedin-button {
    color: white;
    font-size: 20px;
}

.linkedin-button i {
    color: white;
    font-size: 16px;
}

.linkedin-button a {
    background-color: rgb(150, 146, 222);
    padding: 1% 4%;
    border-radius: 20px;
}

/* GET-STARTED MAIN STYLE */
#get-started {
    color: white;
    text-align: center;
}

#get-started h4 {
    font-size: 30px;
}

#get-started h3 {
    font-size: 50px;
    color: rgb(245, 195, 110);
}

.started-button {
    margin: 5% 0;
}

.started-button a {
    color: rgb(150, 146, 222);
    background-color: white;
    padding: 2% 10%;
    border-radius: 20px;
}

/* FOOTER STYLE */

footer {
    background-color: rgb(51, 51, 51);
    text-align: center;
    color: white;
    padding: 6% 0;
}

footer p {
    font-size: 14px;
}

footer a {
    text-decoration: underline; 
    color: rgb(150, 146, 222);
}


/* RESPONSIVE PART */

@media all and (min-width: 768px) {
    #demo-application .container {
        display: flex;
        flex-wrap: wrap;
    }

    .container .application {
        width: (100% / 3);
    }

}

@media all and (min-width: 992px) {

}

@media all and (min-width: 1140px) {

}